@font-face {
    font-family: 'Noto';
    src: url('@/assets/fonts/NotoSansJP-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Noto';
    src: url('@/assets/fonts/NotoSansJP-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
