@use './reset.scss';
@use './fonts.scss';
@use './mixins.scss';

html {
    font-family: 'Noto';
    font-size: pxToRem(14px);
}

body {
    background: $background-color-primary;
    color: $color-text-primary;
}

h1 {
    font-size: pxToRem(24px);
    font-weight: 600;
}

h3 {
    font-size: pxToRem(20px);
    font-weight: 600;
    text-transform: uppercase;
}

.button-with-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;
    padding: $spacing-sm $spacing-md;
    border-radius: $border-radius-md;
    color: $color-text-primary;
    border: 1px solid $color-border-grey;
    background-color: transparent;
}

.duration-200 {
    animation-duration: 200ms;
}

.duration-300 {
    animation-duration: 300ms;
}

.duration-500 {
    animation-duration: 500ms;
}

.rotate-180 {
    transform: rotate(180deg);
}
